<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot_ros2_control" params="name prefix use_mock_hardware use_sim">

    <ros2_control name="${name}" type="system">
      
      <xacro:unless value="${use_mock_hardware or use_sim}">
        <hardware>
          <plugin>differential_drive_controller/DiffBotSystemHardware</plugin>
          <param name="example_param_hw_start_duration_sec">0</param>
          <param name="example_param_hw_stop_duration_sec">3.0</param>
        </hardware>
      </xacro:unless>

      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin> [cite: 5]
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>

      <xacro:if value="${use_sim}">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin> 
        </hardware>
      </xacro:if>

      <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10</param> 
            <param name="max">10</param> 
        </command_interface>
        <state_interface name="position"/> 
        <state_interface name="velocity"/> 
      </joint>
      
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity"> 
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface> 
        <state_interface name="position"/> 
        <state_interface name="velocity"/> 
      </joint>
    </ros2_control>

    <xacro:if value="${use_sim}">
      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find differential_drive_controller)/bringup/config/diffbot_controllers.yaml</parameters> 
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>