<?xml version="1.0"?>
<robot name="larry_robot"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="true"/>

  <xacro:property name="use_sim_val" value="$(arg use_sim)" />

  <xacro:include filename="larry_core.xacro" />
  <xacro:include filename="larry_wheels.xacro" />
  <xacro:include filename="larry.ros2_control.xacro" />

  <xacro:larry_core />

  <!-- Approximated values -->
  <xacro:build_wheel prefix="front_left" x="-0.16" y="-0.345" z="-0.35" />
  <xacro:build_wheel prefix="front_right" x="0.5" y="-0.345" z="-0.35" />

  <xacro:build_wheel prefix="mid_left" x="-0.16" y="-0.05" z="-0.35" />
  <xacro:build_wheel prefix="mid_right" x="0.5" y="-0.05" z="-0.35" />

  <xacro:build_wheel prefix="rear_left" x="-0.16" y="0.33" z="-0.35" />
  <xacro:build_wheel prefix="rear_right" x="0.5" y="0.33" z="-0.35" />

  <xacro:larry_ros2_control use_sim="${use_sim_val}" />
</robot>